.CodeMirror * {
  font-size: 1.05em;
  font-family: monospace;
}

:root body.light {
    --primary: #6750A4;
    --on-primary: #FFF;
    --primary-container: #EADDFF;
    --on-primary-container: #21005E;
    --secondary: #625B71;
    --on-secondary: #FFF;
    --secondary-container: #E8DEF8;
    --on-secondary-container: #1E192B;
    --tertiary: #7D5260;
    --on-tertiary: #FFF;
    --tertiary-container: #FFD8E4;
    --on-tertiary-container: #370B1E;
    --error: #B3261E;
    --on-error: #FFF;
    --error-container: #F9DEDC;
    --on-error-container: #370B1E;
    --background: #f5f1fb;
    --on-background: #1C1B1F;
    --surface: #f5f1fb;
    --on-surface: #1C1B1F;
    --outline: #79747E;
    --surface-variant: #DAD2DF;
    --on-surface-variant: #49454E;
    --inverse-surface: #313033;
    --inverse-on-surface: #F4EFF4;
    --inverse-primary: #D0BCFF;
    --inverse-on-primary: #371E73;
    --body: #FFF;
    --overlay: rgb(0 0 0 / .5);
    --active: rgb(0 0 0 / .1);
    --elevate1: 0 .125rem .125rem 0 rgb(0 0 0 / .32);
    --elevate2: 0 .25rem .5rem 0 rgb(0 0 0 / .4);
    --elevate3: 0 .375rem .75rem 0 rgb(0 0 0 / .48)
}

:root body.dark {
    --primary: #D0BCFF;
    --on-primary: #371E73;
    --primary-container: #4F378B;
    --on-primary-container: #EADDFF;
    --secondary: #CCC2DC;
    --on-secondary: #332D41;
    --secondary-container: #4A4458;
    --on-secondary-container: #E8DEF8;
    --tertiary: #EFB8C8;
    --on-tertiary: #492532;
    --tertiary-container: #633B48;
    --on-tertiary-container: #FFD8E4;
    --error: #F2B8B5;
    --on-error: #601410;
    --error-container: #8C1D18;
    --on-error-container: #F9DEDC;
    --background: #1C1B1F;
    --on-background: #E6E1E5;
    --surface: #1C1B1F;
    --on-surface: #E6E1E5;
    --outline: #938F99;
    --surface-variant: #49454F;
    --on-surface-variant: #CAC4D0;
    --inverse-surface: #E6E1E5;
    --inverse-on-surface: #313033;
    --inverse-primary: #6750A4;
    --inverse-on-primary: #FFF;
    --body: #000;
    --overlay: rgb(0 0 0 / .5);
    --active: rgb(255 255 255 / .2);
    --elevate1: 0 .125rem .125rem 0 rgb(0 0 0 / .32);
    --elevate2: 0 .25rem .5rem 0 rgb(0 0 0 / .4);
    --elevate3: 0 .375rem .75rem 0 rgb(0 0 0 / .48)
}
