[Unit]
Description=wakeci

[Service]
Type=simple
User=fedora
Group=fedora
Restart=always
RestartSec=5s
WorkingDirectory=/home/fedora/
ExecStart=/home/fedora/wakeci -port 443 -hostname ci.yauhen.space

[Install]
WantedBy=multi-user.target
